<h1><%= @task.title %></h1>
<h3><%= @task.details %></h3>

  <% if @task.completed %>
    <p><i class="fa fa-check-square"></i><%= "This task is completed" %></p>
  <% else %>
    <p><i class="fa fa-square"></i><%= "This task is completed" %></p>
  <% end %>


<p><%= link_to "Back to list", tasks_path %></p>
<p><%= link_to "Edit", edit_path %></p>

<%= link_to "Delete", task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>



